.form-input {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb; /* contoh warna border */
  background: #fff;
  transition: all 0.3s;
  outline: none;
}
.form-input:focus {
  box-shadow: 0 0 0 2px #2563eb;
  border-color: #2563eb;
}
